/* Importando a fonte Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.cadastro-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 100vh; /* Use 100% da altura da viewport */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  margin: 0 auto; /* Remove margens verticais */
}

.cadastro-image {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; /* Ocupa 1/3 da largura */
  padding: 20px;
}

.cadastro-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.cadastro-form {
  padding: 5% 5% 2% 5%;
  background-color: #f4f8ff; /* Fundo suave */
  flex: 2; /* Ocupa 2/3 da largura */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribui espaço para centralizar conteúdo */
  overflow-y: auto; /* Permite rolagem se necessário */
}

h2 {
  margin-bottom: 30px;
  color: #333;
  font-size: 2rem;
  font-weight: 600;
}

.form-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group > div {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 20px;
}

/* Estilo do botão Voltar */
.voltar-button {
  background-color: var(
    --secondary-button-bg-color
  ); /* Cor cinza para o botão Voltar */
  color: var(--secondary-button-text-color);
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s;
}

.voltar-button:hover {
  background-color: #aaaaaa;
}

.cadastro-button {
  background-color: var(primary-button-bg-color); /* Amarelo SUS */
  color: var(primary-button-text-color);
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s;
}

.cadastro-button:hover {
  background-color: var(--button-hover-bg-color); /* Cor ao passar o mouse */
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
  .cadastro-container {
    flex-direction: column;
    height: auto; /* Ajusta a altura para dispositivos móveis */
  }

  .cadastro-image {
    display: none; /* Esconde a imagem em telas menores */
  }

  .cadastro-form {
    padding: 30px 20px;
  }
}
