/* Importando a fonte global */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

/* Estilos globais */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  overflow: hidden; /* Evitar rolagem desnecessária */
}

app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Garante que ocupe a altura total da janela */
  width: 100%;
}

/* Reset CSS básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Configurações de cores e temas globais */
:root {
  --primary-color: #ffcf00; /* Cor primária: Amarelo SUS */
  --secondary-color: #f4f8ff; /* Cor de fundo suave */
  --text-color: #333;
  --text-light-color: #555;
  --primary-button-bg-color: #ffcf00; /* Cor de fundo do botão */
  --primary-button-text-color: #004382; /* Cor do texto do botão */
  --secondary-button-bg-color: #004382; /* Cor de fundo do botão */
  --secondary-button-text-color: #fff; /* Cor do texto do botão */
  --button-hover-bg-color: #e0b000; /* Cor de fundo do botão ao passar o mouse */
  --image-bg-color: #ffcf00;
}

input,
textarea,
select {
  width: 100%;
  height: 2.5rem; /* Define a altura usando rem */
  padding: 0.5rem 0.75rem; /* Padding ajustado usando rem */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 0.9rem; /* Tamanho da fonte ajustado para responsividade */
  font-family: "Poppins", sans-serif;
}

/* Ajuste responsivo para dispositivos menores */
@media (max-width: 768px) {
  input,
  textarea,
  select {
    height: 2.3rem; /* Reduz a altura em dispositivos menores */
    padding: 0.4rem 0.6rem; /* Ajusta o padding para dispositivos menores */
    font-size: 0.85rem; /* Reduz a fonte ligeiramente em dispositivos menores */
  }
}

/* Estilo de botões global */
button {
  background-color: var(--primary-button-bg-color);
  color: var(--primary-button-text-color);
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s;
  display: inline-block;
  text-align: center;
  outline: none;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

/* Inputs e textos para herdar a fonte global */
input,
button,
textarea,
select,
label {
  font-family: "Poppins", sans-serif;
}
